* {
    position: relative;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
a{
    display: block;
    cursor: pointer;
    text-decoration: none;
}
.container{
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 4vh 0 9vh 0;
}
.wrap{
    font-family: "微軟正黑體";
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
::-webkit-scrollbar {width: 5px;}

%bg-cover{
    position: relative;
    background: {
        size: cover;
        position: center;
        repeat: no-repeat;
    };
}
%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}